<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <assembly name="H.SangChai.WgRecords.Shell" xdt:Transform="Insert"/>
  <namespace name="H.SangChai.WgRecords.Shell" xdt:Transform="Insert"/>
  <namespace name="H.SangChai.WgRecords.Shell.Commands" xdt:Transform="Insert"/>
  <assembly name="Cet.Hw.Core.SmartClient"/>
  <namespace name="Cet.Hw.Core.SmartClient"/>
  <namespace name="Cet.Hw.Core.SmartClient.ViewModels"/>

  <containers>
    <container>
      <instance name="ServerBaseUrl" value="http://heng.sang-chai.web:8107" xdt:Transform="Insert"/>
      <instance name="DecimalScaleClient" value="2" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="AppTitle" value="Heng Sang Chai WG Solution" xdt:Transform="Insert"/>
      <instance name ="DefaultLogoURL" value ="/Images/LOGO.png" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      
      
      <instance name="MinimumLengthAutoTextSearch" value="2" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="DelayResetStanbyInput" value="5000" type="System.Int32" xdt:Transform="Insert"/>
      <instance name="ErrorValueReceive" value="0.02" type="System.Decimal" xdt:Transform="Insert"/>
      
      <instance name="ComportNameInput" value="COM1" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataStartText" value="(0" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataEndText" value="0.00" type="System.String" xdt:Transform="Insert"/>
      <instance name="ComportDataStartPoint" value="4" type="System.Byte" xdt:Transform="Insert"/>
      <instance name="ComportDataLength" value="6" type="System.Byte" xdt:Transform="Insert"/>

      <instance name="AutoSaveLimitCounting" value="10" type="System.Int32" xdt:Transform="Insert"/>
      <instance name="MinWgAllowAutoSave" value="0.5" type="System.Decimal" xdt:Transform="Insert"/>

      <types>
        <type type="MenuCommand" mapTo="WgRecordEditorCommand" name="WgRecord" xdt:Transform="Insert" />
      </types>

    </container>
  </containers>
</unity>